.faqs {
    color: #fff;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 7rem 3rem;
    box-shadow: 0 1rem 2rem rgba($color:#000000,$alpha: 0.2);
    border-radius: 15px;
    background-image: url('https://media.istockphoto.com/id/1388159455/photo/note-paper-with-question-mark-on-textured-concrete-wall-background.webp?b=1&s=170667a&w=0&k=20&c=kR0R1m-N03-k52EkqOn6ytigZm0YkdnNSzIjLJPFirU=');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba($color: #839f72, $alpha: 1.0);
        
    h1{
        font-size: 50px;
        font-weight: 800;
        margin-bottom: 1.2rem;
    }

    p {
        font-size: 18px;
    }
    

}

@media screen and (max-width: 640px) {
    .faqs {

        h1{
            font-size: 30px;
            font-weight: 500;
        }
    
        p {
            font-size: 13px;
        }
        
    }
}